body {
	display: grid;
	grid-template-areas:
		"aside head"
		"main main";
	overflow-y: scroll;
	grid-template-columns: 10% auto;
	-ms-overflow-style: none;
	/* IE and Edge */
	scrollbar-width: none;
	/* Add the ability to scroll */
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar, .sidenav::-webkit-scrollbar {
	display: none;
}

body>main {
	width: auto;
	grid-area: main;
}

.sidenav {
	overflow-y: scroll;

}
body>aside {
	grid-area: aside;
}

body>header {
	grid-area: head;
}

body {
	overflow-x: hidden;
}

/* The side navigation menu */
.sidenav {
	height: 100%;
	/* 100% Full-height */
	width: 0;
	/* 0 width - change this with JavaScript */
	position: fixed;
	/* Stay in place */
	z-index: 1;
	/* Stay on top */
	top: 0;
	left: 0;
	background-color: #111;
	/* Black*/
	overflow-x: hidden;
	/* Disable horizontal scroll */
	/* Place content 60px from the top */
	transition: 0.5s;
	/* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 15px;
	color: #818181;
	display: block;
	transition: 0.3s
}


/* Position and style the close button (top right corner) */
.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}


.hamburger-menu {
	display: flex;
	margin-top: 7px;
	margin-left: 15px;
	flex-flow: column wrap;
	justify-content: space-between;
	height: 2.5rem;
	width: 2.5rem;
	cursor: pointer;
  }
  
  .hamburger-menu .bar {
	height: 5px;
	background: white;
	border-radius: 5px;
	margin: 3px 0px;
	transform-origin: left;
	transition: all 0.5s;
  }

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */