<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{includes/head}">

<head>
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <main role="main" layout:fragment="main">
        <div style="margin-top: 3%;">
            <div class="container">
                <div class="row">
                    <div class="col-md-4" th:each="ikasgaia: ${ikasgaiak}">
                        <div class="card mb-4 box-shadow" style="background-color: rgb(43, 43, 43);">
                            <img class="card-img-top" th:data-src="@{'images/'+${ikasgaia.izena}+'.jpg'}"
                                th:alt="@{'/images/'+${ikasgaia.izena}+'.jpg'}"
                                style="height: 225px; width: 100%; display: block;"
                                th:src="@{'images/'+${ikasgaia.izena}+'.jpg'}" data-holder-rendered="true">
                            <div class="card-body" style="background-color: rgb(43, 43, 43);">
                                <p class="card-text" th:text="${ikasgaia.izena}" style="color: whitesmoke;"></p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a type="button" class="btn btn-sm btn-outline-secondary"
                                            th:href="@{/ikasgaiak/{ikasgaiid}(ikasgaiid = ${ikasgaia.ikasgaiID})}">Ikusi</a>
                                    </div>
                                    <small class="text-muted">6 kreditu</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>