<html>

	<body th:fragment="sidebar">
		<link rel="stylesheet" th:href="@{/css/sidebar.css}" />
		<script src="/js/sidebar.js"></script>
		<aside style="background-color: rgb(205, 134, 3);">
		<div class="hamburger-menu" onclick="openNav()">
			<div class="bar top"></div>
			<div class="bar middle"></div>
			<div class="bar bottom"></div>
		</div>
		<div id="mySidenav" class="sidenav">
			<div class="hamburger-menu" onclick="closeNav()">
				<div class="bar top"></div>
				<div class="bar middle"></div>
				<div class="bar bottom"></div>
			</div>
			<ul class="nav flex-column">
				<li class="nav-item">
					<a class="nav-link text-warning" th:href="@{/ikasgaiak}">
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
							stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
							class="feather feather-layers">
							<polygon points="12 2 2 7 12 12 22 7 12 2"></polygon>
							<polyline points="2 17 12 22 22 17"></polyline>
							<polyline points="2 12 12 17 22 12"></polyline>
						</svg>
						Ikasgaiak
					</a>
				</li>
				<hr>
				<li class="nav-item">
					<a class="nav-link text-warning" th:href="@{/apunteak}">
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
							stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
							class="feather feather-layers">
							<polygon points="12 2 2 7 12 12 22 7 12 2"></polygon>
							<polyline points="2 17 12 22 22 17"></polyline>
							<polyline points="2 12 12 17 22 12"></polyline>
						</svg>
						Apunteak Ikusi
					</a>
				</li>
				<hr>
				<li class="nav-item">
					<a class="nav-link text-warning" th:href="@{/apunteak/sortu}">
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
							stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
							class="feather feather-layers">
							<polygon points="12 2 2 7 12 12 22 7 12 2"></polygon>
							<polyline points="2 17 12 22 22 17"></polyline>
							<polyline points="2 12 12 17 22 12"></polyline>
						</svg>
						Apunteak Sortu
					</a>
				</li>
				<hr>
				<li class="nav-item">
					<a class="nav-link text-warning" th:href="@{/ikasgaiak/notak/ikusi}">
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
							stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
							class="feather feather-layers">
							<polygon points="12 2 2 7 12 12 22 7 12 2"></polygon>
							<polyline points="2 17 12 22 22 17"></polyline>
							<polyline points="2 12 12 17 22 12"></polyline>
						</svg>
						Notak
					</a>
				</li>

			</ul>
		</div>
	</aside>
</body>
			</html>